<!DOCTYPE html>
<html>
<head>
  <title>Détails de la commande</title>
</head>
<body>
  <h1>Détails de la commande</h1>
  <h2>Numéro de commande : <%= commande.orderNumber %></h2>
  <p>Date : <%= commande.date %></p>
  <p>Total : <%= commande.total %>€</p>
</body>
</html>
