<!DOCTYPE html>
<html>
<head>
  <title>Liste des commandes</title>
</head>
<body>
  <h1>Liste des commandes</h1>
  <ul>
    <% commandes.forEach(commande => { %>
      <li><%= commande.orderNumber %> - <%= commande.total %>€</li>
    <% }); %>
  </ul>
</body>
</html>
