<!DOCTYPE html>
<html>
<head>
  <title>Détails du client</title>
</head>
<body>
  <h1>Détails du client</h1>
  <h2>Nom : <%= client.name %></h2>
  <p>Email : <%= client.email %></p>
  <p>Téléphone : <%= client.phone %></p>
</body>
</html>
