<!DOCTYPE html>
<html>
<head>
  <title>Détails de la catégorie</title>
</head>
<body>
  <h1>Détails de la catégorie</h1>
  <h2>Nom : <%= category.name %></h2>
  <p>Description : <%= category.description %></p>
</body>
</html>
