<!DOCTYPE html>
<html>
<head>
  <title>Détails du produit</title>
</head>
<body>
  <h1>Détails du produit</h1>
  <h2>Nom : <%= produit.name %></h2>
  <p>Description : <%= produit.description %></p>
  <p>Prix : <%= produit.price %>€</p>
</body>
</html>
